<%- include('parts/head',{title:'Home'}); %>

<body class="bg-dark text-light">
    <%- include('parts/header'); %>

    <main class="bg-darkOver1 d-flex">

    <aside class="sidebar w-10 border-right border-secondary categorias">
        <div class="h5 d-flex justify-content-center">Categorias</div>
            <a href="#" class="list-group-item list-group-item-action bg-dark text-light">#matemática</a>
            <a href="#" class="list-group-item list-group-item-action bg-dark text-light">#português</a>
            <a href="#" class="list-group-item list-group-item-action bg-dark text-light">#história</a>
            <a href="#" class="list-group-item list-group-item-action bg-dark text-light">#filosofia</a>
            <a href="#" class="list-group-item list-group-item-action bg-dark text-light">#biologia</a>
            <a href="#" class="list-group-item list-group-item-action bg-dark text-light">#física</a>
            <a href="#" class="list-group-item list-group-item-action bg-dark text-light">#química</a>
        </div>
    </aside>


    <div class="conteudo pb-3 pl-3 pr-3 bg-lightOver1 w-100">
        <ul class="nav justify-content-center mt-2 mb-2">
            <li class="nav-item">
                <a class="nav-link filtro" href="#">RECENTE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link filtro" href="#">DIÁRIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link filtro" href="#">SEMANAL</a>
            </li>
            <li class="nav-item">
                <a class="nav-link filtro" href="#">MENSAL</a>
            </li>
        </ul>        

        <%- include('parts/listaArticles'); %>

    </div>

    </main>

    <%- include('parts/footer'); %>

<%- include('parts/foot'); %>