<%- include('parts/head',{title:'Perfil do Usuário'}); %>

<body class="bg-dark text-light">
    <%- include('parts/header'); %>

    <main class="bg-darkOver1 d-flex">

        <div class="d-flex flex-column w-25 border-right border-secondary">
            <div class="d-flex justify-content-center mt-5">
                <img src="../imagens/foto-perfil.png" class="border rounded-circle d-block row" width="100"></img>
            </div>

            <div class="d-flex justify-content-center mt-2">
                Olá Dev
            </div>
            <div class="d-flex justify-content-center mt-2">
                Developer
            </div>

            <div class="d-flex justify-content-center mt-2">
            <button class="btn btn-primary mr-2" type="submit">Button</button>
            <button class="btn btn-primary" type="submit">Button</button>
        </div>

        </div>



        <div class="conteudo pb-3 pl-3 pr-3 bg-lightOver1">

            <%- include('parts/listaArticles'); %>

        </div>

    </main>

    <%- include('parts/footer'); %>
    
<%- include('parts/foot'); %>
