<%- include('parts/head',{title:'Perfil do Usuário'}); %>

<body class="bg-dark text-light">
    <%- include('parts/header'); %>

    <main class="bg-darkOver1 d-flex">

        <div class="d-flex flex-column w-50 border-right border-secondary">
            <div class="d-flex justify-content-center mt-5 mb-3">
                <img src="/<%= listaArtigos[0].artigoAutores[0].foto_perfil %>" class="border rounded-circle d-block row" width="150"></img>
            </div>

            <div class="mt-2">
                <h6 class="mt-3 pl-2 pr-2 ">Nome: <%= listaArtigos[0].artigoAutores[0].nome %></h6>
            </div>
            <div class="mt-2">
                <h6 class="mt-2 pl-2 pr-2 ">E-mail: <%= listaArtigos[0].artigoAutores[0].email %></h6>
            </div>
            <div class="mt-2">
                <h6 class="mt-2 pl-2 pr-2">Profissão: <%= listaArtigos[0].artigoAutores[0].area_atuacao %></h6>
            </div>

        </div>

        <div class="conteudo pb-3 pl-3 pr-3 bg-lightOver1">

            <%- include('parts/listaArticles'); %>

        </div>

    </main>

    <%- include('parts/footer'); %>

    <%- include('parts/foot'); %>