<div>

    <% for(let i = 0; i < listaArtigos.length; i++) { %>
    
    <article class="pt-3 pl-3 pr-3 mb-3 cor-fundo-artigo">
        <div class="d-flex align-items-center mb-4">
            
            <a href="/usuario/perfil/<%= listaArtigos[i].artigoAutores[0].id_usuario %>"><img src="/<%= listaArtigos[i].artigoAutores[0].foto_perfil %>" width="70" class="rounded-circle"></a>
            <div class="ml-3 w-100">
                <div class="d-flex">
                    <a href="/artigo/artigo" class="titulo-artigo">
                        <h3><%= listaArtigos[i].titulo %></h3>
                    </a>
                    <div class="ml-auto">
                        <div class="d-flex mb-n2 align-items-end">
                            <h3 class="mb-0"><%= parseFloat(listaNotas[i].mediaNota) %></h3>
                            <span class="">/10</span>
                        </div>
                        <div class="d-flex justify-content-center">
                            <span class="" style="font-size: 0.7rem;"><%= listaNotas[i].countNota %></span>
                        </div>
                    </div>
                </div>
                <p style="font-size: 0.8rem;"><%= listaArtigos[i].data %></p>
            </div>

        </div>
        <p><%= listaArtigos[i].resumo %></p>
        <div class="d-flex rodape-artigo">
            <p>Autor:</p>
            <a href="/usuario/perfil" class="ml-2">
                <p><%= listaArtigos[i].artigoAutores[0].nome %></p>
            </a>

            <% for(let j = 0; j < listaArtigos[i].artigoCategorias.length; j++) { %>
            <a href="#">
                <p class="ml-3">#<%= listaArtigos[i].artigoCategorias[j].nome %></p>
            </a>
            <% } %>

            <a href="#">
                <p class="ml-3">#comentário</p>
            </a>
        </div>
    </article>


    <% } %>

</div>
